@model QuanLyChungCu.Models.DanCu

@{
    ViewData["Title"] = "Details";
    Layout = "_ManagerLayout";
}

<style>
    .container {
        margin-top: 50px;
    }

    .details-container {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 5px;
        padding: 20px;
    }

        .details-container h1 {
            margin-bottom: 20px;
        }

        .details-container dl dt {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .details-container dl dd {
            margin-bottom: 10px;
        }

        .details-container a {
            margin-right: 10px;
        }
</style>

<div class="container">
    <div class="details-container">
        <h1>Details</h1>

        <div>
            <h4>Dân Cư</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdDanCu)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdDanCu)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HoTen)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HoTen)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NgaySinh)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NgaySinh)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GioiTinh)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GioiTinh)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Sdt)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Sdt)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DiaChi)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VaiTro)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VaiTro)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdCanHo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdCanHo)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.IdDanCu" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
