@model QuanLyChungCu.Models.SuCo

@{
    ViewData["Title"] = "Delete";
    Layout = "_ManagerLayout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SuCo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanHo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCanHo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaSuCo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaSuCo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBaoCao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBaoCao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNhanVien)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
