@model IEnumerable<QuanLyChungCu.Models.ThongBao>

@{
    ViewData["Title"] = "Index";
    Layout = "_ManagerLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguoiGui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguoiNhan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguoiGui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguoiNhan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
